@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --background: #FFFFFF;
  --primary: #2B96F3;
  --secondary: #E9F5FE;
  --gray-300: #D9D9D9;
  --gray-700: #2B3435;
  --grey-600: #4B5563;
  --toggleBackground:#D9D9D9; 
  --backgroundColor: #FFFFFF;
  --gray-50: #F9FAFB;
  --blue-50: #E3F2FD;
}

.dark {
  --white: #FFFFFF;
  --background: #111111;
  --primary: #2B96F3;
  --secondary: rgba(54, 88, 112, 0.6);
  --gray-300: #D9D9D9;
  --gray-700: #F0F0F0;
  --grey-600: #999999;
  --toggleBackground:#333333;
  --backgroundColor: #333333;
  --gray-50: #4b4a4a;
  --blue-50: #0d4269;
}

body {
  color: var(--background);
  font-family: Roboto, sans-serif;
}

.disable-transitions * {
  transition: none !important;
}
